{% extends 'base.html' %}
{% load static %}

{% comment %} THIS CODE HAS THE FOLLOWING ADDITIONAL STUFF AVAILABLE: JQUERY, TAILWIND {% endcomment %}
{% block content %}
<div class="overlay flex justify-center items-center h-screen cursor-pointer fixed top-0 left-0 w-full bg-black z-20{% if debug %} hidden{% endif %}" id="overlay">
    <h6 class="crt overlay-text font-mono text-white text-center" id="overlay-text"></h6>
</div>
<div class="flex justify-center items-center h-screen">
    <div class="max-w-2xl w-full bg-zinc-900 shadow-md rounded-lg p-6 relative flex flex-col">
        <div>
            <label for="nickname" class="text-2md font-bold text-sm text-gray-50">Nickname:</label>
            <input type="text" id="nickname" class="ml-2 self-center text-sm text-gray-50" value="Wolfy.exe_" disabled>
        </div>
        <div>
            <label for="pronouns" class="text-2md font-bold text-sm text-gray-50">Pronouns:</label>
            <input type="text" id="pronouns" class="ml-2 self-center text-sm text-gray-50" value="She/Her" disabled>
        </div>
        <div>
            <label for="about-me" class="text-2md font-bold text-sm text-gray-50">About Me:</label>
            <input type="text" id="about-me" class="ml-2 self-center text-sm text-gray-50" value="I am a passionate and dedicated software developer with a strong foundation in programming languages. I have a keen eye for detail and a natural talent for problem-solving." disabled>
        </div>
        <div>
            <label for="occupation" class="text-2md font-bold text-sm text-gray-50">Occupation:</label>
            <input type="text" id="occupation" class="ml-2 self-center text-sm text-gray-50" value="Software Developer" disabled>
        </div>
        <div>
            <label for="languages" class="text-2md font-bold text-sm text-gray-50">Languages:</label>
            <input type="text" id="languages" class="ml-2 self-center text-sm text-gray-50" value="English, Portuguese, Swiss German, French" disabled>
        </div>
        <div>
            <label for="hobbies" class="text-2md font-bold text-sm text-gray-50">Hobbies:</label>
            <input type="text" id="hobbies" class="ml-2 self-center text-sm text-gray-50" value="Gaming, Coding, Crocheting" disabled>
        </div>
        <div>
            <label for="location" class="text-2md font-bold text-sm text-gray-50">Location:</label>
            <input type="text" id="location" class="ml-2 self-center text-sm text-gray-50" value="Brazil" disabled>
        </div>
    </div>
</div>
<div class="video-container crt fixed top-0 left-0 w-screen h-screen z-[-1] brightness-50 blur-2">
    <video id="background-video" loop muted class="w-screen h-screen object-cover">
        <source src="{% static 'video/background.mp4' %}" type="video/mp4">
    </video>
</div>
<script>
    $(window).on("load",function(){
        $("#overlay-text").text("[Click anywhere]");
        $("#overlay").on("click", startVideo);
    })
    function startVideo() {
        $("#overlay").fadeOut(1000);
        $("#background-video").trigger("play");
    }
</script>
{% endblock %}
