{% extends 'base.html' %}
{% load static %}

{% comment %} THIS CODE HAS THE FOLLOWING ADDITIONAL STUFF AVAILABLE: JQUERY, TAILWIND {% endcomment %}
{% block content %}
<div class="overlay flex justify-center items-center h-screen cursor-pointer fixed top-0 left-0 w-full bg-black z-20" id="overlay">
    <h6 class="crt overlay-text font-mono text-white text-center" id="overlay-text"></h6>
</div>
<div class="flex justify-center items-center h-screen">
    <div class="max-w-md w-full bg-neutral-100 shadow-md rounded-lg p-6 relative flex flex-col">
        <div class="flex flex-row">
            <div class="flex flex-col justify-around w-5/6">
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">Nickname:</h6>
                    <p class="ml-2 self-center">Wolfy.exe_</p>
                </div>
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">Pronouns:</h6>
                    <p class="ml-2 self-center">She/Her</p>
                </div>
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">Education:</h6>
                    <p class="ml-2 self-center">Bachelor of Information Systems</p>
                </div>
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">Occupation:</h6>
                    <p class="ml-2 self-center">Software Developer</p>
                </div>
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">Skills:</h6>
                    <p class="ml-2 self-center">Python, Java, C++, PHP</p>
                </div>
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">Languages:</h6>
                    <p class="ml-2 self-center">English, Portuguese, Swiss German, French</p>
                </div>
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">Projects:</h6>
                    <p class="ml-2 self-center">Personal Website, Random ideas, Final paper</p>
                </div>
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">Hobbies:</h6>
                    <p class="ml-2 self-center">Gaming, Coding, Crocheting</p>
                </div>
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">Interests:</h6>
                    <p class="ml-2 self-center">Cybersecurity, Learning new technologies</p>
                </div>
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">About Me:</h6>
                    <p class="ml-2 self-center">I am a passionate and dedicated software developer with a strong foundation in programming languages. I have a keen eye for detail and a natural talent for problem-solving.</p>
                </div>
                <div class="flex flex-row">
                    <h6 class="text-2md font-bold">Location:</h6>
                    <p class="ml-2 self-center">Brazil</p>
                </div>
            </div>
            <div class="mt-2 flex w-1/6">
                <img src="{% static "img/profile/wolf.png" %}" alt="Profile Image" class="mx-auto h-20 w-20 -translate-y-10 rounded-full">
            </div>
        </div>
    </div>
</div>
<div class="video-container crt fixed top-0 left-0 w-screen h-screen z-[-1] brightness-50 blur-2">
    <video id="background-video" loop muted class="w-screen h-screen object-cover">
        <source src="{% static 'video/background.mp4' %}" type="video/mp4">
    </video>
</div>
<script>
    $(window).on("load",function(){
        $("#overlay-text").text("[Click anywhere]");
        $("#overlay").on("click", startVideo);
    })
    function startVideo() {
        $("#overlay").fadeOut(1000);
        $("#background-video").trigger("play");
    }
</script>
{% endblock %}
