apng==0.3.4
apnggif==0.1.4
asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colored==2.2.4
coloredlogs==15.0.1
data-printer==0.0.8
dist-info==0.1.1
Django==5.0.6
humanfriendly==10.0
idna==3.7
numpy==1.26.4
pillow==10.3.0
pyreadline3==3.4.1
python-dotenv==1.0.1
requests==2.32.3
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1
